@page
@model RoskildeStudentHousing.Pages.Dormitory.GettAllDormitoryModel
@{
    ViewData["Title"] = "GetDormintory";
}

<br />
<p>
    <a class="btn btn-primary" data-toggle="tooltip" title="Add Dormintory" asp-page="/Dormitory/CreateDormitory"><i class="fa fa-plus-square mr-1"></i> Create a new Dormitory </a>
</p>
<br />

<h4 style="color:red">List of all rooms</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                Dormitory number
            </th>
            <th>
                Dormitory Name
            </th>
            <th>
                Dormitory Address
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.dormitory != null)
        {
            @foreach (var dormitory in Model.dormitory)
            {
                <tr>
                    <td>
                        @dormitory.DormitoryNo
                    </td>
                    <td>
                        @dormitory.Name
                    </td>
                    <td>
                        @dormitory.Address
                    </td>
                    <td>
                        <ul class="list-inline m-0">
                            <li class="list-inline-item">
                                <a class="btn btn-primary btn-sm" type="button" data-toggle="tooltip" title="Get all rooms for this Dormitory" asp-page="/SharedClass/DormitoryRooms" asp-route-id="@dormitory.DormitoryNo"><i class="fa fa-edit"></i></a>
                            </li>
                        </ul>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
